* { 
	box-sizing: border-box; 
}

html, body {
	height: 100%;
}

body { 
	color: white;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	background-color: #b0b0b0;
	background-image: url('bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: fixed;
	margin: 0;
	display: flex;
	flex-direction: column;
}

content {
	flex: 1 0 auto;
}

#logo {
	font-family: 'Arvo', serif;
	font-size: 20px;
	color: #5B3758;
	padding: 14px 16px;
	font-weight: bold;
}

#navbar ul { 
	list-style-type: none;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 30px;
	padding-right: 30px;
	overflow: hidden;
	text-transform: uppercase;
	font-family: 'Arvo', serif;
	font-size: 20px;
}

#navbar li { 
	float: right;
} 

#navbar li a, .dropbutton {
	display: inline-block;
	color: #C65B7C;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

#navbar li a:hover, .dropdown:hover .dropbutton {
	color: #5B3758; 
}

#navbar li.dropdown {
	display: inline-block;
	font-size: 18px;
	line-height: 30px;
}

.dropdown-content {
	display: none;
	position: absolute;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px;
	z-index: 1;
	background-color: #b0b0b0;
}

.dropdown-content a {
	color: #FFFFFF;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

main { 
	margin: auto;
	max-width: 80%;
	font-size: 18px; 
}

.about { 
	display: flex;
	justify-content: center;
} 

.about h2 {
	background: rgba(255,255,255,0.6);
}

h2 {
	display: inline-block;
	font-size: 36px;
	color: #c14477;
	font-family: 'Arvo', serif;
	text-align: center;
	padding: 8px;
	border: 1px solid #5B3758;
	border-radius: 10px;
	width: 530px;
	margin: auto;
}

h3 { 
	color: #C65B7C; 
}

.search { 
	margin-top: 30px;
	display: flex;
	justify-content: center;
	text-align: center;
}

.search b {
	text-shadow: 1px 0 5px black;
}

input {
	width: 520px;
	margin-top: 10px;
	margin-bottom: 20px;
}	

input[type=text] { 
	font-size: 16px;
	font-weight: 500;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	border: 1px solid #83B692;
	border-radius: 3px;
	padding-left: 10px;
	height: 30px;
	vertical-align: middle;
} 

button[type=submit] {
	height: 30px;
	width: 38px;
	margin-top: 10px;
	margin-bottom: 20px;
	border-radius: 3px;
	border: 1px solid #83B692;
	margin-left: 5px;
	display: inline-block; 
	background-color: #FFFFFF;
	background-image: url('https://tf-assets-prod.s3.amazonaws.com/tf-curric/WEB-DEV-001/2.4.6_challenge_design_to_code/magnifying-glass.png');
	background-size: 5px 5px;
	background-position: center;
	background-repeat: no-repeat;
	vertical-align: middle;
}

.poster { 
	margin: 30px auto 0px; 
	display: block;
}

.js-results { 
	text-align: center;
	margin: auto;
	width: 70%;
	color: #FFFFFF;
}

.footer { 
	display: flex;
	justify-content: center;
	text-align: center;	
	width: 100%;
	flex-shrink: 0;
}

.credits { 
	margin-top: 30px;
	color: #FFFFFF;
	text-align: center;
	background-color: rgba(198, 91, 124, 0.6);  
	width: 100%;
	padding: 10px;
	font-size: 12px;
}

.credits p { 
text-align: center;
display: inline;
padding-left: 10px;
}

#TMDblogo { 
width: 20px;
height: 20px;
display: inline; 
}

@media only screen and (max-width: 640px) { 

	body { 
	background-image: none; 
	} 

	main { 
	width: 80%; 
	}

	.js-results h2 { 
	max-width: 100%;
	}

	.poster { 
	margin: 20px auto 0px; 
	max-width: 100%;
	}

	.results {
	width: auto;
	margin: auto;
	}

	.js-results { 
	width: auto; 
	margin: auto;
	}

	input {
	width: 50%;
	}

	.navbar { 
	width: 100%; 
	}
}